﻿@{
    ViewData["Title"] = "Contácto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Calle 145 #11 - 39<br />
    Bogotá, Colombia<br />
    <abbr title="Phone">P:</abbr>
    301.333.9055
</address>

<address>
    <strong>Support:</strong> <a href="mailto:fjroldan09@gmail.com">fjroldan09@gmail.com</a><br />
</address>
