﻿@{
    ViewData["Title"] = "Inicio";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/b1.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/b2.png" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>                   
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Ingresar
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/b3.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>                    
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Ingresar
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Sistema</h2>
        <ul>
            <li><a href="https://localhost:44387/Identity/Account/Register">Registro al sistema como administrador</a></li>
            <li><a href="https://localhost:44387/Identity/Account/Register">Registro al sistema como vendedor</a></li>            
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Administración de Compañias</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Registrar Nueva compañia</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Buscar Compañia</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Eliminar Compañia</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Actualizar Compañia.</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Generar Ventas</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Registrar Nuevo Cliente</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Generar Orden</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Editar Cliente</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Eliminar Cliente</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Buscar Clienre</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Soporte</h2>
        <ul>
            <li><a href="https://localhost:44387/Home/Contact">Contácto</a></li>
            <li><a href="https://localhost:44387/Home/About">Soporte Técnico</a></li>
        </ul>
    </div>
</div>
